*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#sideBar {
  height: 100vh;
  background-color: #FFC5D0;
  display: block;
  text-align: center;
  position: relative;
  overflow: visible;
}
#mainPage {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
}

#sideBar #wrapper {
position: relative;
gap: 5px;
/* overflow: scroll; */
white-space: nowrap;
top: 50%;
transform: translateY(-50%);
}
#sideBar #wrapper #content {  
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 0;
  overflow: hidden;
  transition: all 0.7s ease;
}
#sideBar #wrapper #content.open {
  height: auto;
  width: 100%;
  border: 1px solid black;
  transition: all 0.7s ease;
  margin-bottom: 10px;
}
#sideBar #wrapper #show {
  width: 100%;
  height: 55px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #492b7c;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}
input[type="file"]{
    display: none;
    overflow: hidden;
    white-space: nowrap;
}
label{
    color: white;
    height: 55px;
    width: 100%;
    background-color: #FF8199;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}
h1,h4{
    color:#492b7c;
}
#wrapper .bi{
  width: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
#wrapper .text{
  display: flex;
  flex: column-reverse;
  margin-right: auto;
}
#wrapper #content{
  display: flex;
  flex-direction: column;
}

#wrapper #content .bi{
  width: 40px;
  border-radius: none;
  border: none;
}


#mainPage #image_container {
transform : translateZ(0);
position: absolute;
width: 700px;
height: 620px;
left: 50%;
transform: translateX(-50%);
/* text-align: center; */
}
#mainPage #image_container #bg-image{
 position: absolute;
 width: 500px;
 height: 500px;
 left: 50%;
 transform: translateX(-50%);
 border:1px solid #492b7c;
/*   
  width: 50%; */

  
}

#mainPage #image_container #imagePreview {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  max-height: 100px;
  margin-top: 15px;
  color: white;
}
#image_container #imagePreview .image-preview-image {
 
  width: 100%;
  display: none;
}
#mainPage #image_container #buttons{
  position: absolute;
  top: 560px;
  /* border: 1px solid black; */
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#clear_btn {
  margin: 10px;
  border-radius: 10px;
  width: 220px;
  height: 45px;
 
}
#confirm_btn {

  margin: 10px;
/* transform: translateX(-50%); */
  border-radius: 10px;
  width: 220px;
  height: 45px;
}